<div ng-include="'partials/navbar'"></div>
<div ng-hide="currentStudent">
	<h4>Students</h4>
	<div class="form-group">
	    <input class="form-control" placeholder="New student name" ng-model="newStudent.name">
	    <button style="margin-top: 10px;" class="btn btn-sm btn-success" ng-click="addStudent()">Add student</button>
	</div>

	<div class="row marketing">
	  <button ng-click="selectStudent(student)" class="btn btn-info" style="display: block; margin-bottom: 10px;" ng-repeat="student in students">{{student.name}}</button>
	</div>
</div>
<div ng-show="currentStudent">
    <div ng-hide="currentPoll">
        Waiting for teacher to start.
    </div>
    <div ng-show="currentPoll">
        <div>{{currentStudent.name}}</div>
        <div>{{currentPoll.title}}</div>

        <button class="btn btn-alert" ng-disabled="disableClick" ng-click="sendAction(2)">Slow Down</button>
        <div class="current-state">{{currentState}}</div>
        <button class="btn btn-info" ng-disabled="disableClick" ng-click="sendAction(1)">Speed Up</button>

    </div>
    
</div>