<div ng-include="'partials/navbar'"></div>
<div class="form-group session-new">
    <h4>Create an Assessment:</h4>
    <input style="height: 30px;position: relative;top: 1px;" placeholder="Name" ng-model="newAssessmentName" />
    <button class="btn btn-sm btn-info" ng-click="createAssessment()">Create</button>
</div>
<h4>Manage Assessments:</h4>
<table class="table table-striped table-hover table-bordered table-responsive">
    <tr ng-repeat="assessment in assessments" ng-click="select(assessment)">
        <td>{{ assessment.name }}</td>
        <td><button class="btn btn-info btn-xs" ng-click="manage(assessment)">Manage</button></td>
    </tr>
</table>