<div ng-include="'partials/navbar'"></div>

<div ng-repeat="question in assessmentResults">
   <h5>{{question._questionText}}</h5>
   <table class="table table-striped table-hover table-bordered table-responsive">
        <tr ng-repeat="answer in question.responses" ng-class="{ correct: answer.correct }">
            <td>{{ answer.text }}</td>
            <td class="col-md-1 col-xs-1">{{ answer.percent(question.count) || 0 }}%</td>
        </tr>
    </table>
</div>
        
<div style="margin: 20px 0;" class="form-group btn-group pull-right">
    <button ng-click="endAssessment()" class="btn btn-sm btn-default">Return</button>
    <div style="clear: both"></div>
</div>
<div style="clear:both;"></div>
