<div ng-include="'partials/navbar'"></div>
<div class="form-group session-new" ng-hide="session">
    <h4>Create a new Session:</h4>
    <input style="height: 30px;position: relative;top: 1px;" placeholder="Title" ng-model="newSessionTitle" />
    <button class="btn btn-sm btn-info" ng-click="createSession()">Create</button>
</div>
<h4>Open Sessions:</h4>
<table class="table table-bordered table-striped table-responsive table-hover">
    <tr ng-repeat="session in sessions" >
        <td>{{session.title}}</td>
        <td>{{session.code}}</td>
        <td ng-hide="session.start"><button ng-click="start(session)" class="btn btn-success btn-sm">Start</button></td>
        <td ng-show="session.start && !session.end"><button ng-click="resume(session)" class="btn btn-success btn-sm">Resume</button></td>
        <td ng-show="session.end">Ended: {{session.end}}</td>
        <td><button ng-click="manage(session)" class="btn btn-info btn-sm">Manage</button></td>
        <td><button ng-click="delete(session)" class="btn btn-danger btn-sm">Delete</button></td>
    </tr>
</table>