<div ng-include="'partials/loginHeader'"></div>
<div ng-controller="TeacherLoginCtrl">
    <form class="form-group" style="margin-top: 40px;" ng-submit="login()">
        <div class="form-group">
            <input class="form-control" ng-model="user.username" type="text" name="user" placeholder="Username" />
        </div>
        <div class="form-group">
            <input class="form-control" ng-model="user.password" type="password" name="pass" placeholder="Password" />
        </div>
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="Login" />
         </div>
        <a href="/login/register" class="form-control btn btn-warning">Register</a>
    </form>
</div>